* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}


body {
    margin: 0;
    padding: 0;
}

.page-wrape {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.btn {
    display: flex;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 4px;

}

.btn-primary {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #1890FF;
    background: #1890FF;
    color: #FFF;
    font-size: 16px;
}

.btn-outline {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    color: #595959;
    font-size: 16px;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    min-height: 124px;
    display: flex;
    align-items: center;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-box {
    border: 1px solid #0000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    border: 1px solid #0000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    font-weight: 400;
    font-size: 18px;
    color: #595959;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner {
    justify-content: center;
}

.banner .container {
    padding: 0;
}

.banner-item {
    background-image: url("images/banners/banner.jpg");
    max-width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-size: 100%;
    padding: 68px;
    border-radius: 10px;
}

.banner-title {
    font-weight: 700;
    font-size: 39px;
    color: #302c34;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.sub-title {
    font-weight: 400;
    font-size: 24px;
    color: #302c34;
    max-width: 50%;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-header--title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

.products-header--search {
    height: 34px;
    min-width: 306px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    padding: 5px 12px;
}

.products-header--search:focus {
    outline: 0;
    border: 1px solid #D9D9D9;
}

.products-header--search::placeholder {
    color: #bfbfbf;
    font-weight: 400;
    font-size: 16px;

}

@media(max-width:991px) {
    .banner-title {
        max-width: 100%;
    }

    .banner-subtitle {
        max-width: 100%;
    }
}
