* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    height: 124px;
}

.header-box {
    border: 1px solid #0000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {}

.footer {}

.footer-box {
    border: 1px solid #0000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    flex-grow: 1;

}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}