* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}


body {
    margin: 0;
    padding: 0;
}

.page-wrape {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.btn {
    display: flex;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

}

.btn-primary {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #1890FF;
    background: #1890FF;
    color: #FFF;
    font-size: 16px;
}

.btn-outline {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    color: #595959;
    font-size: 16px;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    min-height: 124px;
    display: flex;
    align-items: center;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-box {
    border: 1px solid #0000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    border: 1px solid #0000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    font-weight: 400;
    font-size: 18px;
    color: #595959;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner {
    justify-content: center;
}

.banner .container {
    padding: 0;
}

.banner-item {
    background-image: url(./images/banners/banner-image.png);
    background-color: #fff1b8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
}

.banner-image {}

.banner-title {
    font-weight: 700;
    font-size: 39px;
    color: #302c34;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.sub-title {
    font-weight: 400;
    font-size: 24px;
    color: #302c34;
    max-width: 50%;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.products .container {
    padding: 0;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 56px;
}

.products-header--title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin: 0;
}

.products-header--search {
    height: 34px;
    min-width: 306px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    padding: 5px 12px;
}

.products-header--search:focus {
    outline: 0;
    border: 1px solid #D9D9D9;
}

.products-header--search::placeholder {
    color: #bfbfbf;
    font-weight: 400;
    font-size: 16px;
}

.products-wrape {
    margin-top: 44px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 30px;
}

.products-card {
    width: calc((100% - 48px)/3);
    border-radius: 7px;
    width: 384px;
    min-height: 377px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    overflow: hidden;
    text-decoration: none;
}

.products-card__image {
    width: 100%;

}

.products-wrape__image img {
    width: 100%;
}

.products-card__description {
    padding: 20px 24px 34px 24px;
}

.description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card--decription__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    margin: 0;
}

.products-card--description__bage {
    border-radius: 2px;
    padding: 1px 8px;
    width: 56px;
    height: 22px;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #fff;
    background: #000;
}

.products-card--description__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}

.products-card--description__rating {
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: #ffc107;
}

.products-card--description__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #8c8c8c;

}

.products-card--description__info-group {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #8c8c8c;
    position: relative;
}

.products-card--description__info-group::before {
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #8c8c8c;
    position: absolute;
    left: -14px;
    top: 14px;

}

.rest-header {
    margin-bottom: 44px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.rest-header--rest-name {
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

.products-card--good-title {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
}

.products-card--good-info {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    color: #8c8c8c;
}

.product-card--description-controls {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.product-card--description-controls-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #000;
}

.btn-primary--good-text {
    margin: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.cart-modal__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.cart-modal__overlay .open {
    display: flex;
}

.cart-modal {
    width: 100%;
    max-width: 780px;
    padding: 40px 45px;
    border-radius: 5px;
    background: #fff;
}

.cart-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.cart-modal__header-title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin: 0;
}

.cart-modal__header-close {
    cursor: pointer;
}

.cart-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.cart-modal__footer-price {
    border-radius: 5px;
    padding: 15px 20px;
    background: #262626;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.cart-modal__footer-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-modal__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.cart-modal__item:not(last-child) {
    padding-bottom: 8px;
    margin-bottom: 17px;
    border-bottom: 1px solid #d9d9d9;
}

.cart-modal__item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    line-height: 32px;
    color: #000;
    margin: 0;
}

.cart-modal__item-controls-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    margin-right: 31px;
}

.cart-modal__item-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.cart-modal__item-controls button {
    border: 1px solid #40a9ff;
    border-radius: 2px;
    padding: 5px 16px;
    width: 36px;
    height: 32px;
}

.cart-modal__item-controls--count {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

@media(min-width:992px) {
    .products-card {
        width: calc((100% - 48px)/3);
    }
}

@media(max-width:991px) {
    .banner-title {
        max-width: 100%;
    }

    .banner-item {
        background-image: none;
    }

    .banner-subtitle {
        max-width: 100%;
    }

    .products-card {
        width: calc((100%-24px)/2);
    }
}

@media(max-width:1090px) {
    .banner-item {
        background-image: none;
    }
}



@media(max-width:576px) {
    .products-card {
        width: calc(100%);
    }

    .footer-nav ul {
        flex-direction: column;
        justify-content: center;
    }

    .footer-box {
        flex-direction: column;
    }
}
